/* Home.css */

.home-container {
    /*background-color: #2E2E2E;*/
    color: #F5F5F5;
    padding: 2rem;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.home-title {
    font-size: 3rem;
    font-family: monospace;
    color: #F5F5F5;
    filter: drop-shadow(0 0 5px white);
}
.home-subtitle {
    font-size: 2rem;
    font-family: monospace;
    color: #F5F5F5;
    margin-top: 1rem;
    align-items: center;
    filter: drop-shadow(0 0 5px white);
    text-align: center;
}

.home-aboutme {
    font-size: 1rem;
    font-family: monospace;
    color: #F5F5F5;
    margin-top: -1rem;
}

.about-box {
    background-color: #1a1a1a;
    padding: 2rem;
    border: 2px solid #444;
    border-radius: 8px;
    max-width: 800px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 5px white);
}

.icon-links {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.icon-links a {
  color: white;
  transition: transform 0.2s ease;
}

.icon-links a:hover {
  transform: scale(1.2);
  color: #ccc;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 1000px;
    }
}

