.logo {
    height: 2.3em; 
    margin-right: 0.8rem; 
    margin-left: 0;
    margin-bottom: -0.2em;
    transition: filter 300ms ease;
    cursor: pointer;
}

    .logo:hover {
        filter: drop-shadow(0 0 1em #646cffaa);
        transform: scale(1.1);
        transition: 0.3s ease;
    }

.nav-link {

}

    .nav-link:hover {
        transform: scale(1.2);
        filter: drop-shadow(0 0 1em #646cffaa);
        transition: 0.2s ease;
    }

    .nav-link::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease;
    }

    .nav-link:hover::after {
        width: 100%;
    }

.logo-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    pointer-events: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
